@model IEnumerable<OopRestaurant.Models.MenuItem>

@{
    ViewBag.Title = "Index";
    var category = "";
}

<h2>Menü</h2>




@foreach (var menuItem in Model)
{
    if (category != menuItem.Category.Name)
    {
        category = menuItem.Category.Name;

        <h3>

        @Html.DisplayFor(modelItem => menuItem.Name)
        </h3>
    }
        <p>
            @Html.DisplayFor(modelItem => menuItem.Description)
        </p>
        <p>
            @Html.DisplayFor(modelItem => menuItem.Price)
        </p>







}


